RTSP_URL=rtsp://USER:PASSWORD@CAMERA_IP:554/onvif1

UPLOAD_URL=http://localhost:8080/api/replays

FFMPEG_PATH=C:\ffmpeg\bin\ffmpeg.exe
FFPROBE_PATH=C:\ffmpeg\bin\ffprobe.exe

BUFFER_SEGMENTS=60
REPLAY_SECONDS=10
WAIT_AFTER_BUTTON=5
TRAILING_SECONDS=6
CHECK_INTERVAL=0.05